<!-- authentication/templates/authentication/enter_password.html -->

<h2>Введите пароль</h2>
<form id="enter-password-form">
    <input type="hidden" id="id_phone_number" value="{{ phone_number }}">
    
    <div class="form-group">
        <label for="id_password">Пароль:</label>
        <input type="password" name="password" id="id_password" required>
    </div>
    
    <button type="button" id="submit-enter-password-btn">
        {% if from_booking %}
            Войти и забронировать
        {% else %}
            Войти
        {% endif %}
    </button>
    
    <div class="forgot-password">
        <a href="#" id="forgot-password-link">Забыли пароль?</a>
    </div>
</form>
<div id="enter-password-response"></div>
