<!-- templates/account/add_booking.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'user_account/css/add_booking.css' %}">

<form method="post" action="{% url 'user_account:add_booking' %}" id="admin-booking-form">
    {% csrf_token %}
    
    <!-- Скрытое поле для salon_id -->
    <input type="hidden" name="salon_id" value="{{ selected_salon.id }}">
    
    <!-- Блок для отображения сообщений -->
    <div id="form-messages"></div>
    
    <!-- Рендерим поля формы -->
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-success">Добавить бронирование</button>
</form>
