<!-- account/templates/account/manage_bookings.html -->

{% extends "user_account/account_base.html" %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
<div class="bookings-container">

    <!-- Фильтры -->
    <form method="get" class="filter-form">
        <!-- Кнопка меню для мобильных устройств -->
    
        <div class="filter-fields">
            <label for="barber">Мастер:</label>
            <select name="barber" id="barber"  onchange="this.form.submit()">
                <option value="">Все</option>
                {% for barber in barbers %}
                    <option value="{{ barber.id }}" {% if barber.id|stringformat:"s" == request.GET.barber %}selected{% endif %}>{{ barber.name }}</option>
                {% endfor %}
            </select>

            <label for="status">Статус:</label>
            <select name="status" id="status"  onchange="this.form.submit()">
                <option value="" {% if request.GET.status == '' %}selected{% endif %}>Все</option>
                <option value="upcoming" {% if request.GET.status == 'upcoming' or request.GET.status == None %}selected{% endif %}>Предстоящие</option>
                <option value="past" {% if request.GET.status == 'past' %}selected{% endif %}>Прошедшие</option>
            </select>
        </div>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookingModal">
            Добавить бронирование
          </button>           
        </form>

        <div class="modal fade" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="addBookingModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"> 
                        <h5 class="modal-title" id="addBookingModalLabel">Добавить бронирование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Вставляем форму -->
                        {% include "user_account/add_booking.html" with form=booking_form selected_salon=selected_salon %}
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Список бронирований -->
    {% for appointment in appointments %}
        {% if appointment.id %} 
    <div class="booking-card"  onclick="window.location.href=`{% url 'edit_booking' appointment.id %}`">
        <div class="booking-info">
           <!-- Внутри .booking-info -->
           <span class="booking-time">{{ appointment.start_datetime|format_date_localized }}, {{ appointment.start_datetime|time:"H:i" }} - {{ appointment.end_datetime|time:"H:i" }}</span>
           {% for barber_service in appointment.barber_services.all %}
                    {{ barber_service.barber.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <!-- Начнется через -->
            {% with time_diff=appointment.start_datetime|timeuntil:now %}
            {% if appointment.start_datetime > now %}
                <p>
                    <i class="fas fa-hourglass-start"></i>
                    <span class="booking-countdown">Начнется через {{ time_diff }}</span>
                </p>
            {% else %}
                <p>
                    <i class="fas fa-hourglass-end"></i>
                    <span class="booking-countdown">Уже началось</span>
                </p>
            {% endif %}
        {% endwith %}


        {% if appointment.barber_services.exists %}
        {% for barber_service in appointment.barber_services.all %}
            {% if barber_service.services.exists %}
                {% for service in barber_service.services.all %}
                    {% if service.category %}
                        <p>
                            <i class="fas fa-tags"></i>
                            <span class="booking-categories">{{ service.category.name }}</span>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
        </div>
        <div class="booking-actions">
            <a href="{% url 'edit_booking' appointment.id %}" class="action-button" title="Редактировать"><i class="fas fa-edit"></i></a>
            <a href="{% url 'delete_booking' appointment.id %}" class="action-button" title="Удалить"><i class="fas fa-trash"></i></a>
        </div>
        
    </div>
    {% else %}
        <!-- Опционально: вывести сообщение об ошибке или пропустить этот объект -->
        <p>Ошибка: бронирование без идентификатора.</p>
    {% endif %}
        {% empty %}
        <p>Бронирований пока нет</p>
    {% endfor %}


    <!-- Пагинация -->
    <div class="pagination">
        {% if appointments.has_other_pages %}
            <ul>
                {% if appointments.has_previous %}
                    <li><a href="?page=1{% if request.GET.barber %}&barber={{ request.GET.barber }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">&laquo; Первая</a></li>
                    <li><a href="?page={{ appointments.previous_page_number }}{% if request.GET.barber %}&barber={{ request.GET.barber }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Предыдущая</a></li>
                {% endif %}

                <li>Страница {{ appointments.number }} из {{ appointments.paginator.num_pages }}</li>

                {% if appointments.has_next %}
                    <li><a href="?page={{ appointments.next_page_number }}{% if request.GET.barber %}&barber={{ request.GET.barber }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Следующая</a></li>
                    <li><a href="?page={{ appointments.paginator.num_pages }}{% if request.GET.barber %}&barber={{ request.GET.barber }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Последняя &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>

<script src="{% static 'account/js/add_booking.js' %}"></script>

{% endblock %}

{% block extra_js %}
<script>
    function toggleSidebar() {
        var sidebar = document.querySelector('.sidebar');
        var overlay = document.querySelector('.overlay');
        sidebar.classList.toggle('active');
        overlay.classList.toggle('active');
    }
</script>
{% endblock %}