.salon-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Карточка салона */
.salon-card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 20px 0; /* Добавляем отступ между карточками */
    overflow: hidden;
    display: flex;
    flex-direction: row; /* Размещаем изображение и информацию в ряд */
}

.salon-image img {
    width: 200px; /* Фиксированная ширина для изображений */
    height: auto;
    display: block;
    padding: 10px;
    padding-top: 10%;
}

.salon-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.salon-info h2 {
    margin: 0 0 -10px;
    font-size: 1.6em;
}

.salon-info .address {
    font-size: 0.9em;
    color: #ccc;
    margin-bottom: 10px;
}

.salon-info .description {
    flex-grow: 1;
    margin-bottom: 20px;
    line-height: 1.4em;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .salon-card {
        flex-direction: column;
        align-items: center;
    }

    .salon-image img {
        width: 100%;
    }

    .salon-info {
        align-items: center;
        text-align: center;
    }
}

/* Карточка салона */
.salon-card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-decoration: none; /* Убираем стандартное подчеркивание ссылок */
    color: inherit; /* Наследуем цвет текста */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Эффект при наведении */
.salon-card:hover {
    transform: scale(1.03); /* Небольшое увеличение */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.salon-info h2, .salon-info .address, .salon-info .description {
    color: #fff; /* Устанавливаем цвет текста */
    transition: color 0.3s ease;
}

.salon-card:hover .salon-info h2,
.salon-card:hover .salon-info .address,
.salon-card:hover .salon-info .description {
    color: #f0a500; /* Меняем цвет текста при наведении */
}

/* Убираем стандартный фиолетовый цвет для посещенных ссылок */
.salon-card:visited {
    color: inherit;
}
