<!-- C:\Reservon\Reservon\salons\templates\salons\barbers.html -->
{% load static %}
{% load i18n %}
{% load custom_tags %}

<div class="barber-selection">
    <!-- Активный барбер -->
    <div id="active-barber" class="barber-card active-barber-card">
        <img src="{% static 'salons/img/default-avatar.png' %}" alt="Любой мастер" class="barber-avatar">
        <div class="barber-info">
            <h4 class="barber-name">{% trans "Любой мастер" %}</h4>
            <p class="barber-description">{% trans "Описание или слоган" %}</p>
        </div>
    </div>
    <!-- Список барберов -->
    <div id="barber-list" class="barber-list">
        <!-- Опция "Любой мастер" -->
        <div class="barber-card" data-barber-id="any">
            <img src="{% static 'salons/img/default-avatar.png' %}" alt="Любой мастер" class="barber-avatar">
            <div class="barber-info">
                <h4 class="barber-name">{% trans "Любой мастер" %}</h4>
                <p class="barber-description">{% trans "Описание или слоган" %}</p>
            </div>
        </div>
        <!-- Список барберов -->
        {% for barber in salon.barbers.all %}
            <div class="barber-card" data-barber-id="{{ barber.id }}">
                <img src="{{ barber.get_avatar_url }}" alt="{{ barber.name }}" class="barber-avatar">
                <div class="barber-info">
                    <h4 class="barber-name">{{ barber.name }}</h4>
                    <p class="barber-description">{{ barber.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>