<!-- C:\Reservon\Reservon\salons\templates\salons\book-confirm.html -->
{% load i18n %}

<!-- Модальное окно подтверждения бронирования -->
<div id="booking-confirmation-modal" class="modal booking-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
    <div class="modal-content booking-modal-content">
        <span class="close-button" aria-label="Close modal">&times;</span>
        <div class="modal-body booking-modal-body">
            <h2 id="modal-title">{% trans "Подтверждение бронирования" %}</h2>
            <!-- Дата, время и общая длительность бронирования -->
            <p class="booking-date-time">
                <strong>Дата:</strong> 2024-11-29<br>
                <strong>Время:</strong> 10:05 - 10:25
            </p>
            
            <!-- Детали бронирования -->
            <div class="booking-details">
                <div class="category-section">
                    <h4>Стрижки</h4>
                    <p><strong>Мастер:</strong>Любой мастер</p>
                    <p><strong>Услуги</strong></p>
                    <div class="services-badges">
                        <span class="service-badge">Շերտաներկում</span>
                        <span class="service-badge">Մազերի Կտրվածք</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-comment-section">
            <!-- <label for="user-comment"><strong>Ваш комментарий или пожелания:</strong></label> -->
            <input id="user-comment" placeholder="Ваш комментарий или пожелания:"></input>
        </div>

        <div class="modal-footer booking-modal-footer">
            <button class="confirm-button"><i class="fas fa-check-circle" aria-hidden="true"></i>{% trans "Подтвердить" %}</button>
            <button class="cancel-button"><i class="fas fa-times-circle" aria-hidden="true"></i>{% trans "Отменить" %}</button>
        </div>
    </div>
</div>

{% if show_confirmation and booking_salon_id %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const salonId = "{{ booking_salon_id }}";
        // Вызовите функцию подтверждения бронирования с необходимыми данными
        showBookingConfirmationModal({ salonId: salonId });
    });
</script>
{% endif %}