<!-- salon-detail.html -->
{% extends 'main/base.html' %}
{% load static %}
{% load duration_extras %}

{% block content %}

<link rel="stylesheet" href="{% static 'salons/css/salon_detail.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/barber-selection.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/booking.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{% static 'salons/js/map.js' %}"></script>

<script>
    window.salonCoordinates = "{{ salon.coordinates|safe }}";
    window.salonName = "{{ salon.name }}";
    window.salonAddress = "{{ salon.address }}";
    window.reservDays = "{{ salon.reservDays }}";
</script>


<div class="salon-detail">
    <div class="salon-container">
        <!-- Левая часть -->
        <div class="info-sections">

            <div class="salon-info">
                <div class="main-image-container">
                    <div class="main-image">
                        <img id="mainImage" src="{{ salon.logo.url }}" alt="{{ salon.name }}">
                    </div>
                </div>
                
                <!-- Основная информация -->
                <div class="salon-main-info">
                    <h1>{{ salon.name }}</h1>
                    <p class="address"><i class="fas fa-map-marker-alt"></i> {{ salon.address }}</p>
                </div>
                
                <!-- Описание -->
                <div class="salon-description">
                    <p>{{ salon.description_hy }}</p>
                </div>

                <!-- Рабочие часы -->
                <div class="salon-hours">
                    <ul>
                        {% for day, hours in salon.opening_hours.items %}
                            <li><strong>{{ day|title }}:</strong> {{ hours.open }} - {{ hours.close }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Правая часть -->
            <div class="right-section">
                
                {% include 'salons/salon-services.html' %}
                
                {% include 'salons/barbers.html' %}


                <!-- Выбор даты и времени -->
                <div class="date-time-selection">
                    <h3>Выберите дату и время</h3>
                    <!-- Ряд с выбором дней -->
                    <div class="date-row" id="day-select"></div>
                    <!-- Ряд с выбором часов -->
                    <div class="hour-row" id="hour-select"></div>
                    <!-- Ряд с выбором минут -->
                    <div class="minute-row" id="minute-select"></div>
                    <!-- Текст, показывающий выбранное время -->
                    <p id="summary-text">Дата, час и минута не выбраны</p>
                </div>

                <!-- Итоговая цена и длительность -->
                <div class="total-summary">
                    <h3>Итоговая информация</h3>
                    <p>Итоговая цена: <span id="total-price">{{salon.default_price}}</span> драм</p>
                    <p>Общее время: <span id="total-duration">{{salon.default_duration}}</span> минут</p>
                </div>

                {% include 'salons/salon-reserv.html' %}

            </div> 

        </div>

    </div>
    <div id="map" class="map-container"></div>

    <!-- Подключаем JavaScript файлы -->
    <script src="{% static 'salons/js/barber.js' %}"></script>
    <script src="{% static 'salons/js/booking.js' %}"></script>
    <script src="{% static 'salons/js/gallery.js' %}"></script>

{% endblock %}
