<!-- templates/salons/salon_services.html -->
<h2>Услуги в {{ salon.name }}</h2>

<div class="services-container">
    {% if salon.services.exists %}
        {% for service in salon.services.all %}
            <div class="service-card">
                <h3>{{ service.name }}</h3>
                <p class="price">Цена: {{ service.price }} ֏</p>
                <p class="duration">Время: {{ service.duration|time:"H:i" }}</p>
                <button class="book-button">Записаться</button>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет доступных услуг.</p>
    {% endif %}
</div>
