<!-- C:\Reservon\Reservon\salons\templates\salons\salons.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

    {% if q %}
        <h2 style="text-align: center;">Результаты поиска для "{{ q }}"</h2>
    {% endif %}


    <div class="salon-list">
        <link rel="stylesheet" href="{% static 'salons/css/salons.css' %}">
        {% for salon in salons %}
            {% include 'salons/salon.html' %}
        {% empty %}
            <p>{% trans "Нет доступных салонов." %}</p>
        {% endfor %}
    </div>
{% endblock %}







