

<!-- salon-detail.html -->
{% extends 'base.html' %}
{% load static %}
{% load duration_extras %}
{% load custom_tags %}
{% block content %}
{% load facebook_extras %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<link rel="stylesheet" href="{% static 'salons/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/salon_detail.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/barber-selection.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/booking.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/telegram_bot.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{% static 'salons/js/map.js' %}"></script>

<script>
    window.salonCoordinates = "{{ salon.coordinates|safe }}";
    window.salonName = "{{ salon.name }}";
    window.salonAddress = "{{ salon.address }}";
    window.reservDays = "{{ salon.reservDays }}";
</script>

{% include 'salons/book-confirm.html' %}

<div class="salon-detail" >
    <input type="hidden" id="salon-mod" value="{{ salon.mod }}">

    <div class="salon-container">
        <!-- Левая часть -->
        <div class="info-sections">

            <div class="salon-info">
                <div class="main-image-container">
                    <div class="main-image">
                        <img id="mainImage" src="{{ salon.logo.url }}" alt="{{ salon.name }}">
                    </div>
                </div>
                
                <!-- Основная информация -->
                <div class="salon-main-info">
                    <h1 style="text-align: center;">{{ salon.name }}</h1>
                    <p class="address"><i class="fas fa-map-marker-alt"></i> {{ salon.address }}</p>
                </div>
                
                <!-- Описание -->
                <div class="salon-description">
                    <p>{{ salon.description_hy }}</p>
                </div>

                <div class="contact-bar">
                    {% if salon.phone_number %}
                        <a href="tel:{{ salon.phone_number }}" class="contact-item">
                            <i class="fas fa-phone-alt"></i>
                            <span>{{ salon.phone_number }}</span>
                        </a>
                    {% endif %}
                
                    {% if salon.instagram %}
                        <a href="https://instagram.com/{{ salon.instagram }}" target="_blank" rel="noopener" class="contact-item">
                            <i class="fab fa-instagram"></i>
                            {{ salon.instagram }}
                        </a>
                    {% endif %}
                    
                    {% if salon.facebook %}
                    <a href="{{ salon.facebook }}" target="_blank" rel="noopener" class="contact-item">
                        <i class="fab fa-facebook"></i>
                        {% with user_name=salon.facebook|facebook_username %}
                            {% if user_name %}
                                {{ user_name }}
                            {% else %}
                                Facebook
                            {% endif %}
                        {% endwith %}
                    </a>
                {% endif %}

                </div>
                
                
            </div>

            <!-- Правая часть -->
            <div class="right-section">
                {% if salon.mod == "category" %}
                    <h1>Выберите услуги</h1>
                    {% include 'salons/salon-services.html' with categories_with_services=categories_with_services barbers_by_category=barbers_by_category barbers_by_category_json=barbers_by_category_json %}
                    
                    {% include 'salons/barbers.html' with category=category barbers_by_category=barbers_by_category %}
                {% else %}
                    {% include 'salons/barbers.html' with category=category barbers_by_category=barbers_by_category %}
                    
                    <h1>Выберите услуги</h1>
                    {% include 'salons/salon-services.html' with categories_with_services=categories_with_services barbers_by_category=barbers_by_category barbers_by_category_json=barbers_by_category_json %}
                {% endif %}
                
                <!-- Выбор даты и времени -->
                <div class="date-time-selection">
                    <h3>{% trans "Выберите дату и время" %}</h3>
                    <div class="date-row" id="day-select"></div>

                    {% if salon.appointment_mod == "auto" %}
                        <p class="hours-info" style="display: none;">Выберите удобное время, а программа подберет ближайшее свободное</p>
                    {% else %}
                        <p class="hours-info" style="display: none;">Выберите примерное, удобное вам время</p>
                    {% endif %}
                    <div class="hour-row" id="hour-select"></div>
                    <p class="minutes-info" style="display: none;">Выберите точное время бронирования</p>
                    <div class="minute-row" id="minute-select"></div>
                    
                    <p id="summary-text">{% trans "Время не выбрано" %}</p>
                </div>
            
                <!-- Форма бронирования -->
                {% include 'salons/salon-reserv.html' %}
            </div>
        </div>
    </div>

    <a href="https://t.me/Reservon_bot" target="_blank" rel="noopener" class="telegram-bot-box">
        <i class="fab fa-telegram-plane"></i>
        Вы также можете записаться через наш Telegram бот: @reservon_bot
    </a>
    
    <div id="map" class="map-container"></div>

     <!-- Элемент для хранения данных барберов в JSON -->
     <script id="barbers-by-category" type="application/json" >
        {{ barbers_by_category_json|safe }}
    </script>
    
    <!-- Подключаем JavaScript файлы -->
    <script src="/static/salons/js/services.js"></script>
    <script src="/static/salons/js/barber.js"></script>

    <!-- <script src="{% static 'salons/js/gallery.js' %}"></script> -->
</div>
{% endblock %}
