<!-- templates/salons/salon-services.html -->
{% load static %}

<link rel="stylesheet" href="{% static 'salons/css/services.css' %}">

<div>
    <div class="service-selection">
        <div class="service-categories">
            {% for category in service_categories %}
                <button class="category-button" data-category-id="{{ category.id }}">{{ category.name }}</button>
            {% endfor %}
        </div>

        <div class="services-container">
            {% if service_categories %}
                <!-- Отображаем услуги по категориям -->
                {% for category in service_categories %}
                    <div class="category-section" data-category-id="{{ category.id }}">
                        <div class="category-services services-grid">
                            {% if not category.services %}
                                <p>Нет доступных услуг.</p>
                            {% else %}
                                {% for service in category.services.all %}
                                    {% include 'salons/service-card.html' %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Контейнер для пагинации -->
        <div class="pagination-container">
            <button class="pagination-button" data-page="1">1</button>
            <!-- Кнопки страниц будут добавлены динамически через JavaScript -->
        </div>
    </div>
</div>