<!-- templates/salons/salon-reserv.html -->
{% load static %}

<!-- Блок для отображения сообщений -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{% url 'salons:book_appointment' salon.id %}" id="booking-form">
    {% csrf_token %}

    <!-- Скрытые поля для даты и времени -->
    <input type="hidden" name="date" id="selected-date" value="">
    <input type="hidden" name="time" id="selected-time" value="">

    <!-- Контейнер для передачи выбранных услуг -->
    <div class="selected-services"></div>

    <!-- Контейнер для выбранных барберов -->
    <div class="selected-services-barbers"></div>

    <!-- Дополнительные данные о салоне -->
    <div id="salon-data" 
        data-salon-id="{{ salon.id }}" 
        data-reserv-days="{{ salon.reservDays }}" 
        data-salon-mod="{{salon.mod}}"
        data-isCheckDays = "{{salon.IsCheckDays}}">
    </div>

    <!-- Длительность услуги по умолчанию -->
    <div id="service-duration" data-duration="{{ salon.default_duration }}"></div>

    <!-- Блок для сообщений -->
    <div id="booking-message" class="booking-message" style="display: none;"></div>

    <!-- Кнопка бронирования -->
    <button type="submit" class="booking-button disabled" data-is-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">Забронировать</button>
</form>
