

<!-- salon-detail.html -->
{% extends 'base.html' %}
{% load static %}
{% load duration_extras %}
{% load custom_tags %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<link rel="stylesheet" href="{% static 'salons/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/salon_detail.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/barber-selection.css' %}">
<link rel="stylesheet" href="{% static 'salons/css/booking.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{% static 'salons/js/map.js' %}"></script>

<script>
    window.salonCoordinates = "{{ salon.coordinates|safe }}";
    window.salonName = "{{ salon.name }}";
    window.salonAddress = "{{ salon.address }}";
    window.reservDays = "{{ salon.reservDays }}";
</script>

{% include 'salons/book-confirm.html' %}

<div class="salon-detail" >
    <input type="hidden" id="salon-mod" value="{{ salon.mod }}">

    <div class="salon-container">
        <!-- Левая часть -->
        <div class="info-sections">

            <div class="salon-info">
                <div class="main-image-container">
                    <div class="main-image">
                        <img id="mainImage" src="{{ salon.logo.url }}" alt="{{ salon.name }}">
                    </div>
                </div>
                
                <!-- Основная информация -->
                <div class="salon-main-info">
                    <h1>{{ salon.name }}</h1>
                    <p class="address"><i class="fas fa-map-marker-alt"></i> {{ salon.address }}</p>
                </div>
                
                <!-- Описание -->
                <div class="salon-description">
                    <p>{{ salon.description_hy }}</p>
                </div>

            </div>

            <!-- Правая часть -->
            <div class="right-section">
                {% if salon.mod == "category" %}
                    <h2>Выберите услуги</h2>
                    {% include 'salons/salon-services.html' with categories_with_services=categories_with_services barbers_by_category=barbers_by_category barbers_by_category_json=barbers_by_category_json %}
                    
                    <h2>Выберите мастера</h2>
                    {% include 'salons/barbers.html' with category=category barbers_by_category=barbers_by_category %}
                {% else %}
                    <h2>Выберите мастера</h2>
                    {% include 'salons/barbers.html' with category=category barbers_by_category=barbers_by_category %}
                    
                    <h2>Выберите услуги</h2>
                    {% include 'salons/salon-services.html' with categories_with_services=categories_with_services barbers_by_category=barbers_by_category barbers_by_category_json=barbers_by_category_json %}
                {% endif %}
                
                <!-- Выбор даты и времени -->
                <div class="date-time-selection">
                    <h3>{% trans "Выберите дату и время" %}</h3>
                    <div class="date-row" id="day-select"></div>
                    <p class="hours-info" style="display: none;">Выберите примерный, удобный вам час</p>
                    <div class="hour-row" id="hour-select"></div>
                    <p class="minutes-info" style="display: none;">Выберите точное, удобное вам время</p>
                    <div class="minute-row" id="minute-select"></div>
                    <p id="summary-text">{% trans "Время не выбрано" %}</p>
                </div>
            
                <!-- Итоговая цена и длительность -->
                <div class="total-summary">
                    <h3>Итоговая информация</h3>
                    <p>Итоговая цена: <span id="total-price">{{ salon.default_price }}</span>{% trans "драм" %}</p>
                    <p>Общее время: <span id="total-duration">{{ salon.default_duration }}</span>{% trans "минут" %}</p>
                </div>
            
                <!-- Форма бронирования -->
                {% include 'salons/salon-reserv.html' %}
            </div>
        </div>
    </div>

    <div id="map" class="map-container"></div>

     <!-- Элемент для хранения данных барберов в JSON -->
     <script id="barbers-by-category" type="application/json">
        {{ barbers_by_category_json|safe }}
    </script>
    
    <!-- Подключаем JavaScript файлы -->
    <script src="/static/salons/js/services.js"></script>
    <script src="/static/salons/js/barber.js"></script>
    <script src="/static/salons/js/booking.js"></script>

    <!-- <script src="{% static 'salons/js/gallery.js' %}"></script> -->
</div>
{% endblock %}
