<!-- account/templates/account/add_booking.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Создать новое бронирование</h1>

<form method="post">
    {% csrf_token %}
    <label for="id_salon">Салон:</label>
    <select name="salon" id="id_salon">
        {% for salon in salons %}
            <option value="{{ salon.id }}" {% if salon.id == request.POST.salon|default:salon.id %}selected{% endif %}>{{ salon.name }}</option>
        {% endfor %}
    </select>
    {{ form.as_p }}

    <div id="formset">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="barber-service-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

    <button id="add-form">Добавить мастера и услуги</button>
    <button type="submit">Создать бронирование</button>
</form>

<!-- Пустая форма для копирования -->
<div id="empty-form" style="display: none;">
    {% with form=formset.empty_form %}
        <div class="barber-service-form">
            {{ form.as_p }}
        </div>
    {% endwith %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'account/js/formset.js' %}"></script>
{% endblock %}
