{% load form_tags %}
<div class="modal-content">
  <div class="modal-header">
    <h5>Редактировать расписание для {{ day_display }}</h5>
  </div>
  <div class="modal-body">
    <form method="post" id="edit-form" action="{% url 'edit_barber_schedule' barber.id %}?day={{ day }}">
      {% csrf_token %}
      <div id="form-errors"></div>
      {{ formset.management_form }}
      <div id="forms-container">
        {% for form in formset %}
          {{ form.id }}
          <div class="single-form">
            <div class="form-row">
              <div class="col-half">
                <div class="form-group">
                  <label for="{{ form.start_time.id_for_label }}">Начало:</label>
                  {{ form.start_time|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-half">
                <div class="form-group">
                  <label for="{{ form.end_time.id_for_label }}">Конец:</label>
                  {{ form.end_time|add_class:"form-control" }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="switch-container">
                <span class="switch-label-left">Свободен</span>
                <label class="switch">
                  {{ form.is_available }}
                  <span class="slider"></span>
                </label>
                <span class="switch-label-right">Занят</span>
              </div>
            </div>
            <hr>
          </div>
        {% endfor %}
      </div>

      <div class="form-row" style="display:flex; gap:10px; margin-bottom:10px;">
        <button type="button" class="btn btn-secondary" id="add-time-button" style="flex:1;">Добавить время</button>
        <button type="button" class="btn btn-warning" id="mark-holiday-button" style="flex:1;">Отметить как выходной</button>
      </div>

      <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
  </div>
</div>
