{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5efa530f7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <title> Reservon </title>
  </head>
  <body>
    <header>
      {% include "main/header.html" %}
    </header>

    <main>
      {% block content %} {% endblock %}
    </main>

    <footer>
      {% include "main/footer.html" %}
    </footer>
  </body>
</html>
