<div class="header-container">
    <div class="logo">
      <h1><a href="/">Reservon</a></h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/"><i class="fa-solid fa-house"></i> {% trans Home }</a></li>
        <li><a href="/salons/"><i class="fas fa-cut"></i> Салоны</a></li>
        <li><a href="/about/"><i class="fas fa-info-circle"></i> О нас</a></li>
        <li><a href="/contact/"><i class="fas fa-envelope"></i> Контакты</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="/login/" class="btn login-btn">Войти</a>
      <a href="/register/" class="btn register-btn">Регистрация</a>
    </div>
  </div>