<!-- C:\Reservon\Reservon\main\templates\main\header.html -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load static %}


<link rel="stylesheet" href="{% static 'user_account/css/unified.css' %}">

<div class="header-container">
  <div class="logo">
    <img src="{% static 'main/img/logo2.png' %}" alt="Reservon" class="logo-img">
  </div>
  
  <button class="menu-toggle" id="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="navigation" id="navigation">
    <ul>
      <li><a href="{% url 'main:main' %}"><i class="fa-solid fa-house"></i> {% trans "Home" %}</a></a></li>
      <li><a href="{% url 'salons:salons_main' %}"><i class="fas fa-cut"></i> {% trans "Salons" %}</a></li>
      <li><a href="{% url 'main:about' %}"><i class="fas fa-info-circle"></i> {% trans "About" %}</a></li>
      <li><a href="{% url 'main:contacts' %}"><i class="fas fa-envelope"></i> {% trans "Contact" %}</a></li>
    </ul>

    <div class="auth-buttons">
      {% if user.is_authenticated %}
          {% if is_admin %}
            <a href="/user-account/bookings"><span class="user-name">{% trans "My account" %}</span></a>
          {% else %}
            <a href="/user-account/my_account/"><span class="user-name">{% trans "My account" %}</span></a>
          {% endif %}      {% else %}
        <a href="#" class="btn login-btn" onclick="openAuthModal('login')"><i class="fa-solid fa-user"></i>{% trans "Login" %}</a>
      {% endif %}
      
      <form action="{% url 'set_language' %}" method="post" class="language-switcher">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <select name="language" onchange="this.form.submit()">
          {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
              {{ language.name_local }}
            </option>
          {% endfor %}
        </select>
      </form>

      
      <!-- {% if is_admin %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookingModal">
          Добавить бронирование
        </button>           
      {% endif %} -->
    </div>
  </nav>
</div>

