<!-- main/login_password.html -->

{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Login" %}</h2>

<!-- Отображение сообщений -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>{% trans "Enter the password for the number" %} {{ phone_number }}</p>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="id_password">{% trans "Password:" %}</label>
        <input type="password" name="password" id="id_password" required>
    </p>
    <button type="submit">{% trans "Log in" %}</button>
</form>

<a href="{% url 'forgot_password' %}?phone_number={{ phone_number }}">{% trans "Forgot password?" %}</a>
{% endblock %}