/* account/static/account/css/account.css */

.dashboard-container {
    display: flex;
    flex-wrap: nowrap; /* Prevents items from wrapping */
    min-height: 80vh;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Верхнее меню */
.menu-button{
    display: none;
}

.top-menu {
    background-color: rgb(51, 51, 51); /* Темный фон */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.top-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-menu ul li {
    margin-right: 20px;
}

.top-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.top-menu ul li.active a,
.top-menu ul li a:hover {
    color: rgb(240, 165, 0);
}

.top-menu ul li a {
    padding: 5px 10px;
}

.top-menu ul li.active a {
    color: rgb(240, 165, 0);
    border-bottom: 2px solid rgb(240, 165, 0);
}


.top-menu ul li a i {
    margin-right: 5px;
}


/* Левое боковое меню */
.sidebar {
    flex: 0 0 200px;
    width: 200px;
    background-color: rgb(51, 51, 51);
    color: white;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background-color: rgb(70, 70, 70);
}

.sidebar ul li.active a,
.sidebar ul li:hover a {
    color: rgb(240, 165, 0);
}

.sidebar ul li a i {
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    background-color: rgb(70, 70, 70); /* Темный фон */
    padding: 20px;
}


/* Адаптивность */
@media screen and (max-width: 768px) {
    .dashboard-container {
        position: relative;
        /* flex-direction: column; */
    }

    /* Скрываем sidebar по умолчанию */
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px; /* Прячем сайдбар за левым краем */
        width: 250px;
        height: 100%;
        background-color: rgb(51, 51, 51);
        transition: left 0.3s ease;
        z-index: 1000;
    }
    .sidebar.active {
        left: 0;
    }

    /* Добавляем кнопку для открытия меню */
    .menu-button {
        display: block;
        background-color: rgb(51, 51, 51);
        color: white;
        padding: 15px;
        text-align: center;
        cursor: pointer;
    }

    /* Убираем отступы у main-content */
    .main-content {
        padding: 0;
    }

    .top-menu ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

      /* Затемнение основного контента при открытом сайдбаре */
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }
}
