<!-- C:\Reservon\Reservon\main\templates\base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <script src="https://kit.fontawesome.com/5efa530f7d.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/section.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/manage_bookings.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/edit_booking.css' %}">

    <title> Reservon </title>
    
  </head>
  <body>

     <!-- Отображение сообщений -->
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}

    <header>
      {% include "main/header.html" %}
    </header>

    <div id="auth-modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
      <div class="modal-overlay"></div>
      <div class="modal-content">
          <span class="close-button" aria-label="Close modal">&times;</span>
          <div id="modal-body"></div>
      </div>
  </div>
  
    {% if request.path == "/salons/" %}
      {% include "main/search.html" with q=q %}
    {% endif %}

    <main>
      {% block content %} {% endblock %}
    </main>


    <footer>
      {% include "main/footer.html" %}
    </footer>

    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'authentication/js/modal.js' %}"></script>
    <script src="{% static 'account/js/edit_booking.js' %}"></script>

  </body>
</html>
